.hero-section{
    position: relative;
    margin-top: 0;
}

.hero-info{
    position: absolute;
    top: 0;
}

.hero-img{
    position: absolute;
    z-index: -1;
    top: 0;
    height: 85vh;
    /* overflow: hidden; */
}

.hero-img img {
    position: absolute;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
}
  


.hero-content{
    color: white;
    margin-left: 170px;
}

.hero-content h3{
    margin-top: 80px;
}

.hero-content-down{
    margin-top: 250px;
}

.hero-content-down h1{
    color: black;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 90%;
}

.hero-content-down h5{
    margin-bottom: 0;
    font-size: 20px;
}

.hero-content-down p{
    margin-top: 0;
    font-size: 20px;
}

.hero-content-btn {
    display: flex;
    gap: 25px;
    padding: 6px 0px;
    position: relative;
    z-index: 2;
}
  

  