
  


  
/* .toppings-list {
    list-style: none;
    padding: 0;
} */
  

.toppings-list li {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
  
.toppings-list-item {
    display: flex;
    justify-content: space-between;
    padding-right: 2px;
}
  

  
.toppings-list-item label {
    vertical-align: text-bottom;
    margin-left: 0.2rem;
}
  
.total {
    margin-top: 1rem;
}


.checkout-container{
    position: absolute;
    left: 180px;
}


.checkout-box-header{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
    gap: 5px;
}

.checkout-box-header h4{
    margin: 0;
}

.checkout-box-header img{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.checkout {
    height: 40px;
    width: 150px;
    color: black;
    border: none;
    border-radius: 4px;
    font-family: "Syne", sans-serif;
    cursor: pointer;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    position: relative;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    /* position: relative; */
}
  
.checkout img {
    height: 20px;
    width: 20px;
}
  
.checkout::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    right: -8px;
    bottom: -8px;
    z-index: -3;
    border: 2px solid #b6b6b6;
    border-radius: 4px;
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
  
.checkout:hover::before {
    transform: translate(3px, 3px);
}
  
  
@media screen and (max-width: 600px) {
    .toppings-list,
    .total {
      width: 90%;
    }
}


