.item-info{
    width: 400px;
}

.item-info p{
    margin-top: 0;
}

.item-info h4{
    margin-bottom: 7px;
}

.item-info h2{
    color: #e32b2b;
}

.item-page-item{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.item-page-item img {
    width: 700px;
}

.rating{
    display: flex;
    justify-content: space-between;
}

.rating p span{
    color: #00c514;
}

.item-sizes{
    margin-top: 7px;
    display: flex;
    gap: 10px;
    padding: 0;
}

.item-sizes li{
    padding: 2px;
    font-weight: bold;
    list-style: none;
    background-color: white;
    border-radius: 4px;
    border: 2px solid black;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item-sizes li:hover{
    filter: invert(1);
    border: 2px solid white;
}